

/*----------------------------
			COLORES
----------------------------*/
/* rojo #bf000e */


/*----------------------------
			GENERAL
----------------------------*/
html,body {
	font-size: 1em;
	overflow-x: hidden;
}

.cont_1, .cont_2{
	display: inline-block;
	vertical-align: top;
}

.centrado{
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

.cont_1{
	width: 45%;
	padding-left: 28px;
}

.cont_2{
	width: 54%;
	float: right;
}

/*----------------------------
		    TITULOS
----------------------------*/
h1,h2,h3,h4,h5,h6 {
	font-family:'Roboto Condensed', helvetica, arial, sans-serif; 
}
h3 {
	font-weight: 600;
	font-size:1.6em;
	padding: 0;
	color:#bd000e;
	margin-bottom: 20px;
}

.owl-container h3{
	padding: 0 12px;
	color: #333;
}

p{
	color: #818084;
}

.cont_1 p {
	font-family:'Open Sans', Helvetica, Arial, sans-serif; 
	font-size: 0.9em;
	line-height: 1.8em;
}
	.cont_1 p b{
		font-weight: 600;
		color: #504f53;
	}
	
/*----------------------------
			NAVBAR
----------------------------*/

.navbar {
	float: left;
	width: 100%;
	border-radius: 0;
	margin-bottom: 0;
	z-index: 3;
}
.navbar-default {
	height: 85px;
	border:none;
	background-image:url(../img/texture.jpg);	
	background-color: #bf000e;
	background-image: url(../img/texture.jpg);
}
.navbar-header {
	float: none;
	margin:0 auto !important;
}
.navbar-default .navbar-brand {
	color: white;
	margin-top: -10px;
}
.navbar-default .navbar-toggle {
	display: none;
}
.navbar-brand {
	float: none;
	display: block;
}
.navbar-brand>img {
	margin: 0 auto;
}
/*----------------------------
		  LAYERSLIDER
----------------------------*/

#layerslider {
	float: left;
	width: 100%;
	
}

.ls-v5 .ls-nav-prev, .ls-v5 .ls-nav-next {
  width: 70px !important;
  height: 70px !important;
  z-index: 2;
  top: 50%;
  margin-top: -25px;
  position: absolute;
}

.ls-v5 .ls-nav-prev:hover, .ls-v5 .ls-nav-next:hover{
	opacity: 0.5;
}

.ls-v5 .ls-nav-next, .ls-v5 .ls-nav-next:hover {
  background-position: -128px 0px !important;
  right: -2px !important
}

.ls-v5 .ls-nav-prev, .ls-v5 .ls-nav-prev:hover {
  background-position: -3px 0px !important;
  left: -2px !important;
}


/*fix to position layer to the right*/

.position-fix {
	width: 407px !important;
	top: auto !important;
	left: auto !important;
	right: 0 !important;
	bottom: 35% !important;
	display:block;
	position: absolute;	
}
.position-fix img {
	width: 100% !important;
	/*position: absolute;
	right: 1%;*/
}

img.ls-preloaded {
  right: -15px !important;
  position: absolute;
}

/*agrandar imagenes con links en hover*/
.opacity img {
	opacity: 1;
}
.opacity:hover img {
	opacity: 1;
}
/*ocultar navegacion inferior*/
.ls-bottom-nav-wrapper {
	/*display: none;*/
}



/*----------------------------
		  CONTAINER
----------------------------*/
.contenedor{
	float: left;
	width: 100%;
	padding: 30px 50px;
	margin-bottom: 48px;
}

.contenedor2{
	float: left;
	width: 100%;
	padding: 30px 50px 85px 50px;
	border-top: solid 2px #d8d8d8;
	background: #f4f4f4;
}

/*----------------------------
		  OWL CAROUSEL
----------------------------*/


.carousels {padding: 0 50px;}
.owl-carousel .owl-wrapper-outer {
	/*prevent navigation buuttons overlapping*/
	z-index:2
}
.owl-container.uno{
	margin-bottom: 60px;
}
.owl-container.dos {
	margin-bottom: 30px;
}
.owl-carousel {
	margin-top: 20px;
}
.owl-carousel .owl-item{
	text-align: center;
}
.owl-carousel .owl-item img{
	width: 90%;
	/*transition: all 0.2s;*/
}
.owl-carousel .owl-item a img{
	opacity: 1;
	/*transition: all 0.2s;*/
}
/*efecto hover*/
.owl-carousel .owl-item a:hover img {
	opacity: 0.8;
}

div[data-toggle="modal"] {
	cursor: pointer;
}


.modal-backdrop.in{
	opacity: 0.9;
}
/*pagination*/
.owl-pagination {display: none;}
.owl-buttons {  
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	z-index:1;
}
.owl-prev,.owl-next {
	position: absolute;
  	top: 50%;
  	margin-top: -10px !important;
  	width: 25px;
  	height: 30px;
  	background-color: transparent !important;
  	background-image: url('../img/arrows.png') !important;
  	background-repeat: no-repeat;
}
.owl-prev {
  	left: -40px;
}
.owl-next {
  	right: -40px;
  	background-position: right !important;
}


/*----------------------------
		     MODAL
----------------------------*/
.modal {
	z-index: 9999999;
	padding-right:0 !important;
}
.modal-body {
	padding: 0;
}
.modal-content {
	border: 0;
}
.modal-header .close {
	font-size: 40px;
	line-height: 27px;
	font-weight:100;
}
.modal-footer {
	display: none;
}


/*----------------------------
		   IFRAME
----------------------------*/

object{
	margin-left:auto;
	margin-right:auto;
	width:100%;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#layerslider{
	width: 100% !important;
	height: 49.70vw !important;
}
/*----------------------------
		  FORMULARIO
----------------------------*/
/*general*/
.form-control {
	height: 50px;
	line-height:2em;
}
.form-group {
  margin-bottom: 20px;
}
input, button, select, textarea {
	font-family: Muli, sans-serif;
	font-weight: 300;
	line-height: 2em;		
}
textarea.form-control {
	padding: 12px;
}

/*titulo*/
/*
.formulario h2 {
	text-align: center;
	margin-bottom: 0;  
	font-size: 40px;
	color: #ffec00;
	text-shadow: 3px 0 0 #bf000e, -3px 0 0 #bf000e, 0 3px 0 #bf000e, 0 -3px 0 #bf000e, 2px 2px #bf000e, -2px -2px 0 #bf000e, 2px -2px 0 #bf000e, -2px 2px 0 #bf000e;
}

.formulario h2 span{
	font-size: 30px;	
}

.formulario h2 .parte-1,
.formulario h2 .parte-2, .formulario h2 .parte-3 {
	display: inline-block;
	height: 65px;
	background-repeat: no-repeat;
	background-size: contain;
}
*/
.call_title{
	background-image: url('../img/deja-tu-consulta.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 65px;
	display: block;
	margin: 0 auto;
	width: 100%;
}


.opt{
	padding:20px;
}
.formulario button {
	width: 210px;
	margin: 0 auto;
	text-transform: uppercase;
	background-color: #D50E1D;
	color: white;
	font-weight: 400;
	display: block;
	border:0;
	padding: 10px 0;
	font-family:'Roboto Condensed', helvetica, arial, sans-serif; 
	font-size: 	1.2em;
	font-weight: 600;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	-moz-appearance: none;
	-webkit-appearance: none;		
}
.formulario button:hover,
.formulario button:active,
.formulario button:focus{
	background-color: #EC2E3C;
	color: white;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
  	opacity: 0.65 !important;
}

.ls-bg.ls-preloaded, .ls-bg{
	margin-top: 0 !important;
	width: 100% !important;
	min-width: 100% !important;
	height: auto !important;
	margin-left: 0 !important;
}

/*boton desactivado si el formulario no es valido*/
.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
	background-image:url(../img/texture.jpg);	
	background-color: #bf000e;
	color: #ffec00;
	font-weight: bold;
	font-size: 27px;
	padding: 5px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	opacity: 1;
}

button.btn:hover{
	background-color: #ffec00 !important;
	background-image:none !important;
	color: #bf000e !important;
	opacity: 1 !important;
}

/*estilos para el popup de email enviado*/
#mail_sended{
	position: fixed;
	background: rgba(0,0,0,.6);
	width: 100vw;
	top: 0;
	left: 0;
	height: 100vh;
	z-index: 999;
	display: none;
	opacity: 1;
    transition: all 1s;
}

#menssage_box{
	position: absolute;
	background: url(../img/pop-up.jpg) center no-repeat;
	background-size: contain;
	width: 30vw;
	height: 30vw;
	opacity: 0;
    transition: all 0.5s;
}

#menssage_box.not_send{
	background: url(../img/pop-up_not.jpg) center no-repeat;
	background-size: contain;
}

#popup_close{
	position: absolute;
	background: url(../img/pop-up_close.png) center no-repeat;
		background-size: cover;
	width: 10%;
	height: 10%;
	top: 3%;
	right: 3%;
	cursor: pointer;
    transition: all 0.5s;
}

#popup_close:hover{
	background: url(../img/pop-up_close_over.png) center no-repeat;
		background-size: cover;
}

/*----------------------------
		   FOOTER
----------------------------*/
footer {
	float: left;
	width: 100%;
	background-color:#bf000e;
	background-image: url(../img/texture.jpg);
	color: white;
	padding: 35px 15px 15px 15px;
	text-align: center;
	position: relative;
}

footer h3 a {
	display: inline-block;
	position: relative;
  	top: -10px;
	width: 60px;
	height: 2px;
	border-top: 1px solid #ffed00;
	border-bottom: 1px solid #ffed00;
	border-radius: 3px;
	margin: 0 20px;
}

footer span{
	font-family: Muli, sans-serif;
	color:#ffed00;
	letter-spacing:-3px;
	font-weight:400;
}

#segui_opinologos_text{
	text-align: center;
	margin: 22px 0 28px;
}

#segui_opinologos_text h3{
	display: inline-block;
	vertical-align: middle;
	max-width: calc(100%/1.6);
	margin: 0;
	padding: 0;
	color: #fff;
	font-weight: 400;
}

.lineas_amarillas{
	height: 2px;
	width: 31px;
	margin: 0 11px;
	background: #FFED00;
	display: inline-block;
	vertical-align: middle;
}

.red_lines_cont{
	text-align: center;
	margin: 14px 0;
}

.red_lines_cont span{
	color: #bf000e;
	font-weight: 100;
}

.red_line{
	background: #bf000e;
	height: 1px;
	display: inline-block;
	width: 200px;
	vertical-align: middle;
}

.red_text_form{
	text-align: center;
	color: #bf000e;
	margin: 0 0 35px;
	font-size: 31px;
	font-family: 'Roboto Condensed', helvetica, arial, sans-serif;
}

/*REDES SOCIALES*/
.redes-sociales {
	position: absolute;
  	left: 50%;
  	margin-left: -130px;
  	top: -50px;
}
.redes-sociales a, .redes-sociales_header a{
	display: inline-block;
	width:85px;
	height:85px;
	background-image: url('../img/iconos-sociales.png');
	background-repeat: no-repeat;
}

.redes-sociales_header {
	position: absolute;
	right: 18px;  
	top: 18px;
}

.redes-sociales_header a{
	width:50px;
	height:50px;
	background-size: 150px;
}

.redes-sociales a.facebook, .redes-sociales_header a.facebook {background-position:left top;}
.redes-sociales a.twitter, .redes-sociales_header a.twitter {background-position:center top;}
.redes-sociales a.youtube, .redes-sociales_header a.youtube {background-position:right top;}
/*hover*/
.redes-sociales a:hover, .redes-sociales_header a:hover {background-position-y:bottom; }
