@media screen and (max-width: 1279px) {
.position-fix {
	width: 300px !important;
}
.cont_1 p {
	font-size: 0.77em;
}
}

@media screen and (max-width: 1023px) {
    .fancybox-next span,
    .fancybox-prev span {
        visibility: visible !important;
        transition: opacity 0.3s;
    }
    .fancybox-next:hover span,
    .fancybox-prev:hover span {
        opacity: 0.5;
    }

    .fancybox-close{display: none;}
}


@media screen and (max-width: 991px) {

	.red_line{width: 40%;}
	.formulario h2 .parte-1 {
 		width: 49%;
  	}
	.formulario h2 .parte-2 {
		width: 49%;
		margin-left: -4px;
  	}

  	.formulario h2 .parte-3 {
		width: 64%;
		position: relative;
  	}

  	.cont_1, .cont_2{
  		width: 100%;
  	}

  	.cont_1{padding-left: 0px;}

  	.cont_2{float: none;}
}

@media screen and (max-width: 959px) {
	.position-fix {
		width: 250px !important;
	}
}

@media screen and (min-width: 768px) {
	/*MODAL*/
	.modal-dialog {
	  margin: 30px auto;
	}
}

@media screen and (max-width: 767px) {
	#menssage_box{
		width: 50vw;
		height: 50vw;
	}
	.red_text_form{
		font-size: 22px;
	}
	
	.modal-dialog {
	  margin: 50px auto;
	}
	
	/*NAVBAR*/
	.navbar-default {
	  height: 75px;
	}
	.navbar-brand > img {
		width:250px !important;
	}

	.redes-sociales_header {
		right: 8px;  
		top: 10px;
	}
	/*LAYERSLIDER*/
	.position-fix {
		width: 200px !important;
	}
	img.ls-preloaded {
	  right: -10px !important;
	}
	/*CAROUSEL*/

	.carousels {
	  padding: 0 30px;
	}
	.owl-container.uno {
	  margin-bottom: 30px;
	}
	.carousels h3 {
		display: none;
	}
	.owl-container.dos {
		margin-bottom: 0;
	}
	/*MODAL*/
	.modal-content {
		margin: 0 20px;
	}
	/*FORMULARIO*/

	.formulario h2 .parte-1 {
 		width: 49%;
  	}
	.formulario h2 .parte-2 {
		width: 49%;
		margin-left: -4px;
  	}

  	.formulario h2 .parte-3 {
		width: 64%;
		position: relative;
		margin-top: -24px;
  	}
  	/*FOOTER*/
  	footer h3 {
  		font-size: 1.5em;
  	}

  	.red_lines_cont {
		margin: -4px 0 17px 0;
	}
}


@media screen and (max-width: 639px) {
	.call_title {
		background-image: url(../img/deja-tu-consulta-responsive.png);
	}

	/*NAVBAR*/
	.navbar-default {
	  height: 61px;
	}

	.navbar-brand > img {
		width:200px !important;
	}
	/*LAYERSLIDER*/
	.position-fix {
		width: 150px !important;
	}
	img.ls-preloaded {
	  right: -5px !important;
	}
	.ls-v5 .ls-nav-prev, .ls-v5 .ls-nav-next {
	  display: none !important;
	}

	.red_text_form{
		font-size: 22px;
	}

	.redes-sociales_header {
		right: 8px;  
		top: 16px;
	}

	.redes-sociales_header a{
		width:30px;
		height:30px;
		background-size: 90px;
	}
}

@media screen and (max-width: 579px){
	.formulario h2 .parte-1 {
 		width: 70%;
 		display: block;  
 		margin: 0 auto;
  	}
	.formulario h2 .parte-2 {
		width: 70%;
 		display: block;  
 		margin: -10px auto 13px;
  	}

  	.formulario h2 .parte-3 {
		width: 70%;
		position: relative;
		margin-top: -24px;
  	}
}

@media screen and (max-width: 479px) {
	/*LAYERSLIDER*/
	.position-fix {
		width: 100px !important;
	}

	.formulario h2 .parte-1 {
 		width: 86%;
 		display: block;  
 		margin: 0 auto;
  	}
	.formulario h2 .parte-2 {
		width: 86%;
 		display: block;  
 		margin: -16px auto 13px;
  	}

  	.formulario h2 .parte-3 {
		width: 86%;
		position: relative;
		margin-top: -24px;
  	}
	.btn{
		width: 100% !important;
	}

	.redes-sociales_header a.facebook, .redes-sociales_header a.twitter {
		display:none;
	}
	
	h3 {
		padding:0px;
	}
}	
@media screen and (max-width: 319px) {	
	footer h3 {
	  font-size: 1.2em;
	}
}